@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Freeman&display=swap');

@font-face {
    font-family: Pizza;
    src: url('pan_pizza/panpizza.ttf') format(truetype);
}

* {
    margin: 0;
}

body {
    background-color: #ffffff;
    color: black;
    text-align: center;
    background-attachment: fixed;

}

header {
    margin: 0px auto 0px auto;
    background-color: #d61e40;
    padding-bottom: 91px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

header>h1 {
    font-family: Pizza, sans-serif;
    font-size: 4em;
    color: #ffffff;
    margin: auto;
    padding-top: 10px;
    text-shadow: 5px 5px 4px rgb(4, 24, 4);
}

header>p {
    color: #ffffff;
    font-family: Freeman, sans-serif;
    text-shadow: 1px 2px 1px rgb(0, 0, 0);
}

#menuP>ul {
    display: flex;
    text-align: center;
    float: left;
    background-image: url('https://www.shutterstock.com/shutterstock/videos/1038370562/thumb/1.jpg?ip=x480');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 42px 0px 0px -50px;
    border-radius: 0px 10px 0px 0px;
    list-style: none;
    padding-right: 10px;
    position: fixed;
    transition: top 0.5s;
}

#menuP>ul>li>a {
    display: block;
    text-align: center;
    padding: 10px 20px 7px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Freeman, sans-serif;
    font-size: 20px;
    margin: 5px 2px 0px 10px;
    border-radius: 10px 10px 0px 0px;
    transition: 0.8s;
    text-shadow: 2px 2px 2px black;
   
}

a:hover {
    background-color: rgb(234, 112, 25);
    
}

main {
    background-image: url('https://img.freepik.com/fotos-gratis/fundo-de-textura-de-papel-branco_23-2151025728.jpg?t=st=1716407976~exp=1716411576~hmac=03314916d4725ed70fb8270b31af040051cf3c98425284369f60ea3780e10376&w=900');
    background-size: contain;
    background-position: center;
}

main>h1 {
    padding: 10px;
    text-align: left;
    font-family: Freeman, sans-serif;
    font-size: 30px;
    color: #000000;
    background-color: rgba(255, 149, 0, 0.238);
   max-width: 80%;
   max-width: 80%;
   border-radius: 0px 20px 40px 0px;
}

#pizzas {
    display: block;
    text-align: center;
    padding: 20px;
}

#pizzas h2 {
    font-family: Fjalla One, sans-serif;
    padding: 20px;
    font-size: 2em;
}

#pratos h2 {
    font-family: Fjalla One, sans-serif;
    padding: 20px;
    font-size: 2em;
}

#pizzas img {
    display: flex;
    align-items: center;
    width: 20em;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 5px 5px 10px black;
    justify-content: right;
    margin: auto;
    padding: 10px;

}

#pratos img {
    display: flex;
    align-items: center;
    width: 20em;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 5px 5px 10px black;
    justify-content: right;
    margin: auto;
    padding: 10px;

}

.desc {
    background-color: rgb(234, 112, 25);
    font-size: 1.5em;
    font-family: Fjalla One, Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 15px auto 10px auto;
    width: 50%;
    border-radius: 10px 0px 10px 0px;


}

.preco {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-style: italic;

}

input {
    padding: 10px;
    border-radius: 20px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button {
    padding: 10px;
    border-radius: 0px 20px 0px 0px;
    cursor: pointer;
    transition: 1s;
    background-color: #ffffff;
    font-weight: bold;
}

button:hover {
    background-color: #eeeeee;
}

footer {
    background-color: black;
    font-family: pizza, sans-serif;
    color: white;
}